<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyou.mrd.df"
    android:installLocation="preferExternal"
    android:theme="@android:style/Theme.NoTitleBar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.cyou.mrd.df.UnityPlayerProxyActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <receiver android:name="com.changyou.utils.PhoneStateBroadCastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.cyou.mrd.df.UnityPlayerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.cyou.mrd.df.UnityPlayerNativeActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>

        <!-- 以下为需配置信息 -->
        <activity
            android:name="com.changyou.mgp.sdk.mbi.account.ui.CYMGLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.changyou.mgp.sdk.mbi.cts.ui.CYMGCustomerServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateUnspecified" >
            <intent-filter>
                <action android:name="com.changyou.mgp.sdk.mbi.cts.ui.CYMGCustomerServiceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
        
        <!-- 微信支付结果的监听-->
        <activity          
        android:name="com.changyou.mgp.sdk.mbi.wxapi.WXPayEntryActivity"
          android:exported="true"
           android:theme="@android:style/Theme.Dialog"
           android:launchMode="singleTop"/>
        
		<!-- 支付宝配置 -->
		<activity
            android:name="com.alipay.android.mini.window.sdk.MiniLaucherActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" />
        <activity
            android:name="com.alipay.android.mini.window.sdk.TransContainer"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" />
        <!-- 极简收银台主界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniPayActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/msp_app_name"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 极简收银台链接查看界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 快捷支付服务 -->
        <service android:name="com.alipay.android.app.MspService" />
        <!-- UTDID -->
        <receiver
            android:name="com.ut.device.BQueryWhoHasOne"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.QueryWhoHasOne" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ut.device.BFoundIt"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.FoundIT" />
            </intent-filter>
        </receiver>
		
		<!-- 支付宝配置END -->
		
		<receiver
		    android:name="com.ut.device.BFoundIt"
		    android:exported="true"
		    android:permission="com.ut.permission.DEVICE_STATE" >
		    <intent-filter>
		        <action android:name="UT.FoundIT" />
			</intent-filter>
		</receiver>
		<activity
			android:name="com.tencent.connect.common.AssistActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity
			android:name="com.tencent.tauth.AuthActivity"
			android:launchMode="singleTask"
			android:noHistory="true" >
			<intent-filter>
					<action android:name="android.intent.action.VIEW" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <category android:name="android.intent.category.BROWSABLE" />
			        <data android:scheme="tencent101005256" />
			</intent-filter>
		</activity>
        <activity
            android:name="com.changyou.mgp.sdk.mbi.account.ui.CYMGRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.changyou.mgp.sdk.mbi.pay.ui.CYMGPaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            >
            <intent-filter>
                <action android:name="com.changyou.mgp.sdk.mbi.pay.ui.CYMGPaymentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="com.ut.device.BQueryWhoHasOne"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.QueryWhoHasOne" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ut.device.BFoundIt"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.FoundIT" />
            </intent-filter>
        </receiver>
        
        
                
        <!-- 银联所需-->
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.unionpay.uppay.PayActivity" >
        <!-- 银联所需 END-->
        </activity>
        <!-- MO9所需-->
        <activity
            android:name="com.mokredit.payment.MktPayment"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- MO9所需 END-->
        <service
            android:name="com.changyou.mgp.sdk.mbi.mbi.service.MBIService"
            android:exported="false" >
        </service>
        

		<!-- 添加MGPSDK必需的meta-data:CYMG_APP_KEY.此处value为app_key。请在畅游游戏开放平台http://t.changyou.com注册申请 -->
		<meta-data
		android:name="CYMG_APP_KEY"
		android:value="@string/app_key" />
		<!-- 添加MGPSDK必需的meta-data:CY_MGP_APP_SECRET.此处value为app_secret。请在畅游游戏开放平台http://t.changyou.com注册申请 -->
		<meta-data
		android:name="CYMG_APP_SECRET"
		android:value="f550062065eb4089bd9c727e00391e8c" />
		<!-- 添加MGPSDK必需的meta-data: CY_MGP_CHANNEL_ID.此处value为channel_id。该值决定MGPSDK接入的渠道，详情请查阅《ChannelID对照表》-->
		<meta-data
		android:name="CYMG_CHANNEL_ID"
		android:value="4001" />
		<meta-data
		android:name="CMBI_APP_KEY"
		android:value="@string/app_key" />
		<meta-data
		android:name="CMBI_CHANNEL_ID"
		android:value="@string/cmbi_channel_id" />
        
        
        <!-- 微信支付 -->
 
        <meta-data  	android:name="APP_ID_WEIXIN"  android:value="wxcdcd2f547842c4e5" />
        <meta-data  	android:name="APP_KEY_WEIXIN"  android:value="YicMRZTqxGKvwmGpo9PkYv0rbUeR01kkDcJRphZh6z9cZM2ec4m5puhNHash4UcjuX4VOm3eXLRTnGyR2proUmFAVcmdw7GKMYnPsVOW4nHM8Od5mQx1USRHuhXtj9Q8" />
        <meta-data  	android:name="SECRET_WEIXIN"  android:value="5fccfcb3834cf7524b8d82d3e1158ab9" />
        <!-- 以上为需配置信息 -->
        
        <service
            android:name=".NFService"
            android:exported="false" >
        </service>
       
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53df2593fd98c5bd5e00392e" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Android_cyou" />
         <meta-data
            android:name="CHANNEL_NAME"
            android:value="cyou" />
    </application>

    <uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" />
	
    <!-- 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 聚合SDK权限 2014-08-06 1.08版本-->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="com.ut.permission.DEVICE_STATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_SETTINGS" />
	<permission android:name="com.ut.permission.DEVICE_STATE" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.alipay.mobile.command.trigger.permission" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    
    <!-- sonnar 权限配置 -->
    <!-- 
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
     -->
     
    <!-- 友盟 权限配置 -->
    <!-- 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
     -->
      <!-- GT-->
     <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- GT-->
</manifest>